@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: "SDGothicNeo";
  src: url("https://www.gentlemonster.com/kr/assets/fonts/KR/SDGothicNeoaTTF-eMd.woff2") format("woff2"),
    url("https://www.gentlemonster.com/kr/assets/fonts/KR/SDGothicNeoaTTF-eMd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Poppins 폰트를 기본 폰트로 지정 */
body {
  overflow: hidden;
  font-family: 'Fahkwang';
  background-color: white;
}

a {
  text-decoration: none;
  font-family: 'Poppins';
}


li {
  list-style: none;
}


/* 마그넷 */
#cursor {
  width: 100%;
  background-color: white;
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2vw 10vw 1vw 10vw
}

#nav .magnet-target {
  width: 100px;
}

#nav #right {
  display: flex;
  align-items: center;
  gap: 40px;
}

#nav a {
  text-decoration: none;
  font-weight: 400;
  color: #000;
  font-size: 1vw;
  letter-spacing: -1px;
}

#nav i {
  margin-top: 3px;
  font-size: 20px;
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2vw 10vw 1vw 10vw;
}

#nav .magnet-target {
  width: 100px;
}

#nav #right {
  display: flex;
  align-items: center;
  gap: 40px;
}

#nav a {
  text-decoration: none;
  font-weight: 400;
  color: #000;
  font-size: 1vw;
  letter-spacing: -1px;
}

#nav i {
  margin-top: 3px;
  font-size: 20px;
}

div#homemain2 {
  position: relative;
  left: 50%;
}

#home #homemain1,
#home #homemain2 {
  width: 100%;
  padding: 5vw 10vw;
}

#homemain1 h1,
#homemain2 h1 {
  font-weight: 500;
  letter-spacing: -.1vw;
  font-size: 1.34vw;
}

.headings {
  display: flex;
  gap: 40px;
}

/* 스타일을 #homemain1과 #homemain2에 맞게 다르게 설정 */
#homemain1 .headings h1 {
  color: transparent;
  -webkit-text-stroke: 2px #171717;
  font-size: 6.5vw;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -3px;
}

#homemain2 .headings h1 {

  color: transparent;
  -webkit-text-stroke: 2px #ff6347;
  /* 다른 색상으로 설정 */
  font-size: 6.5vw;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -3px;
}

/* 호버 효과도 다르게 설정 */
#homemain1 .headings h1:hover {
  color: #000;
}

#homemain2 .headings h1:hover {
  color: #ff6347;
  /* 호버 시 다른 색상 */
}

#homemain h1 span {
  color: #3F51B5;
  font-weight: bold;
}

요

/* #homemain1과 #homemain2의 <span> 색상 */
#homemain1 h1 span {
  color: #3F51B5;
  /* 기존 색상 */
}

#homemain2 h1 span {
  color: #ff6347;
  /* 다른 색상 */
}

#homelast {
  width: 100%;
  padding: 5vw 1vw;
  margin-left: 42vw;
}

#homelast p {
  width: 70%;
  font-size: 1.6vw;
  font-weight: 400;
  letter-spacing: -.08vw;
}

#homelast p span {
  color: #3F51B5;
  font-weight: bold;
}

#homelast p::selection {
  /* // 드래그하여 선택했을때 */
  color: white;
  background-color: #000;
}

/* //마그넷 */


/* 시계 */
.time {
  position: relative;
  left: 2%;
}

/* //시계 */

/* 스티커 */

.stickers {
  position: relative;
}

.sticker {
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: grab;
  z-index: 100;
}

.sticker img {
  width: 80px;
}

#stickerboard {
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px);
  /* 조정 가능한 높이 */
  background-color: #f0f0f0;
  cursor: grab;
  z-index: 1;
}

#stickerboard:active {
  cursor: grabbing;
}

/* //스티커 */


/* 🧷디자인 */

.design {
  position: relative;
  /* 부모 요소에 relative 추가 */
  height: auto;
  min-height: 100vh;
}

.design__p {
  font-size: 20px;
  color: #4b4b4b;
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
}

/* 필터 */
.dfilter {
  height: auto;
  min-height: 100vh;
}

.dfilter ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-weight: 500;
  margin: 50px auto;
  font-size: 20px;
}

.dfilter ul li {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-bottom: 2px solid white;
  transition: 0.5s linear;
  color: #747d8c;
  font-size: 40px;
}

.dlist.active,
.dlist:hover {
  color: #2f3542;
  border-bottom: 2px solid #2f3542;
}

.designs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.ditem {
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 8px;
}

.ditem a {}

.ditem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s linear;
}

.ditem:hover img {
  transform: scale(1.1);
}


.ditem p {
  text-align: center;
  font-size: 18px;
  color: #4b4b4b;
  line-height: 1.5;
  margin: 10px 0 30px;
}


/* 공통 버튼2 */
.gosite2 {
  position: absolute;
  padding: 12px 20px;
  text-decoration: none;
  color: #333;
  background-color: #f0f0f0;
  border: 1px solid #171717;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1;
  transform: translateX(10%);
  left: 55%;
  /*  top: 3% */
}

.gosite2:hover {
  background-color: #171717;
  color: #f0f0f0;
}

/* //공통 버튼2 */

.ditem.ditem2,
.ditem.ditem3,
.ditem.ditem4,
.ditem.ditem5 {
  width: 100%;
}

/* 버튼 위치 */
a.gosite2 {
  left: 32%;
  top: 3%;
  position: relative;
  border-radius: 50px;
}

.ditem.ditem2 a:nth-child(2),
.ditem.ditem3 a:nth-child(2),
.ditem.ditem2 a:nth-child(3),
.ditem.ditem3 a:nth-child(3) {
  margin-right: 50px;
}

/* 스플라인 */
.ditem1 {
  overflow: hidden;
  width: 800px;
  height: 500px;
  border-radius: 8px;
  margin-top: 10px;
}

iframe.keyboard {
  width: 100%;
  margin-top: -20%;
}

/* //스플라인 */

/* 도라런 */
.dorarun_wrap {
  position: absolute;
  left: 2%;
  bottom: -4%;
  width: 800px;
  height: 440px;
  background: url(img/dorarun_site.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  border: 1px solid #ccc;
  transition: 0.8s;
  transform: translate(40%, 0);
}

.dorarun_wrap:hover {
  background-position: bottom;
}

/* //도라런 */


/* 포토샵 */

.photoshop_wrap {
  position: absolute;
  left: 2%;
  bottom: -2%;
  width: 800px;
  height: 440px;
  background: url(img/photoshop_web.png) no-repeat;
  background-size: cover;
  background-position: top;
  border: 1px solid #ccc;
  transition: 0.8s;
  transform: translate(40%, 0);
}

.photoshop_wrap:hover {
  background-position: bottom;
}

/* //포토샵 */

/* 일러스트 */

/* 1 */
.illustrate_wrap1 {
  position: absolute;
  left: 4%;
  width: 450px;
  height: 500px;
  background: url(img/maru.png) no-repeat;
  background-size: cover;
  background-position: top;
  border: 1px solid #ccc;
  transition: 0.8s;
  transform: translate(40%, 0);
}

.illustrate_wrap1:hover {
  background-position: bottom;
}

/* 2 */
.illustrate_wrap2 {
  position: absolute;
  left: 43%;
  width: 450px;
  height: 500px;
  background: url(img/aineko.png) no-repeat;
  background-size: cover;
  background-position: top;
  border: 1px solid #ccc;
  transition: 0.8s;
  transform: translate(40%, 0);
}

.illustrate_wrap2:hover {
  background-position: bottom;
}

/* //일러스트 */

/* 피그마 */

/* 1 */
.figma_wrap1 {
  position: absolute;
  left: 2%;
  bottom: -2%;
  width: 800px;
  height: 440px;
  background: url(https://i.pinimg.com/originals/25/24/f5/2524f5a2a72c6d1ca001cd27894aae46.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  border: 1px solid #ccc;
  transition: 0.8s;
  transform: translate(40%, 0);
}

.figma_wrap1:hover {
  background-position: bottom;
}

a.gosite2.figma {
  left: 45%;
}

/* //피그마 */


/* //필터 */

/* //🧷디자인 */

/* 🧷푸터 */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.footer p {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.footer .github,
.footer .email {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: color 0.3s;
}

.footer .github i,
.footer .email i {
  margin-right: 10px;
}

.footer .github:hover,
.footer .email:hover {
  color: #1e90ff;
  /* 색상 호버 효과 */
}

/* 팝업창 스타일 */
.email-popup {
  display: none;
  /* 기본적으로 팝업은 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* 배경을 어둡게 */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.email-popup .form-container {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.email-popup .form-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.email-popup input,
.email-popup button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.email-popup input:focus,
.email-popup button:focus {
  border-color: #1e90ff;
  outline: none;
}

.email-popup button {
  background-color: #1717170d;
  cursor: pointer;
  font-weight: bold;
}

.email-popup button:hover {
  background-color: #1717172e;

}

.email-popup .close-popup {
  background-color: #1717170d;
  font-weight: bold;
}

.email-popup .close-popup:hover {
  background-color: #1717172e;
}

/* //🧷푸터 */


/* 탑버튼 */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  background: linear-gradient(135deg, #fff, #f0f0f0);
  color: #4b4b4bff;
  border: none;
  border-radius: 50px;
  padding: 9px 20px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 4px -5px 0px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
  z-index: 100;
  outline: none;
}

#scrollToTopBtn:hover {
  transform: translateY(-5px);
  /* background: linear-gradient(135deg, #f0f0f0, #ffffff); */
  background: linear-gradient(135deg, #fff, #f0f0f0);
  box-shadow: 4px -5px 0px rgba(0, 0, 0, 0.5);
}

#scrollToTopBtn:focus {
  outline: none;
}

/* //탑버튼 */

/* 메인프로젝트 */
.flex,
.goal__col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.goal__col {
  flex-direction: column;
}

.menu__right .flex {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goal {
  position: relative;
  width: calc(100% - 80px);
  min-height: 100vh;
  gap: 80px;
}

.goal .twist {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 50%;
  width: 33%;
  height: auto;
  aspect-ratio: 9/14;
  object-fit: cover;
  opacity: 0.2;
  transform: translateY(-50%);
}

.list__item {
  position: relative;
  width: 100vw;
  height: calc(100vh - 40px);
  align-items: flex-end;
  padding-bottom: 40px;
}

.list__item__title,
.list__item__titleOutline {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  font-family: var(--font2);
  font-size: 21vw;
  font-weight: 700;
  line-height: 80%;
  color: var(--dark);
  text-align: center;
  transform: translate(-50%, -50%);
}

.list__item__titleOutline {
  z-index: 3;
  color: transparent;
  -webkit-text-stroke: 2px var(--dark);
}

.list__item img {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 33%;
  height: auto;
  aspect-ratio: 9/14;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.menu__right.list__item__infos {
  width: calc(100% - 80px);
  justify-content: space-between;
}

.list__item__infos li {
  font-size: 1vw;
}

.list__item__infos li span {
  color: #818181;
}

.list__item__type,
.list__item__project {
  position: absolute;
  top: 50%;
  font-size: 1vw;
  writing-mode: vertical-lr;
  text-orientation: upright;
  transform: translateY(-50%);
  color: #818181;
}

.list__item__type {
  left: 36px;
}

.list__item__project {
  right: 36px;
}


/* //메인프로젝트 */


/* 퍼블리싱 */
#myprojects {
  position: relative;
  z-index: 2;
  margin: 0 60px;
}

.phWrap {}

.nana {
  margin-top: 12.5em;
}

.img-size-1 {
  margin-left: 10%;
  width: 33.3333%;
  height: 75vh;
}

.img-size-2 {
  width: 40%;
  height: 100vh;
  margin-left: 50%;
}

.img-position-r {
  margin-left: auto;
  margin-right: 10%;
}

.img-size-full {
  width: 100%;
  height: 115vh;
}

.img-position-l {
  width: 50%;
  height: 75vh;
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
  position: relative;
  display: flex;
  width: 100%;
}

.desc-container {
  position: absolute;
  top: 15%;
  right: 5%;
}

.desc-container2 {
  position: absolute;
  top: 22%;
  left: 2%;
}

.desc-container3 {
  position: absolute;
  top: 2%;
  right: 2%;
}

.desc-container4 {
  position: absolute;
  top: 30%;
  left: 20%;
}

/* 스크롤 */

.desc {
  font-size: 20px;
  color: #171717;
  line-height: 1.4;
  margin-bottom: 2vw;
  margin-top: 1vw;
  z-index: 20;
  position: relative;
  width: 100%;
}

/* 공통 버튼 */
.gosite {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 1rem;

}

.gosite a {
  display: inline-block;
  padding: 12px 20px;
  text-decoration: none;
  color: #333;
  background-color: white;
  border: 1px solid #171717;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1;
  border-radius: 50px;
}

.gosite a:hover {
  background-color: #171717;
  color: white;
}

/* 프로젝트 툴 */
.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.tools span {
  padding: 8px 16px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

/* //퍼블리싱 */




/* 프리로더 */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.percentage {
  position: fixed;
  bottom: var(--margin);
  right: var(--margin);
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 25rem;
  line-height: 0.8;
  color: var(--color-foreground);
  opacity: 0.1;
}

.text-container {
  height: 3em;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  width: 200px;
}

.loading-text {
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-foreground);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  position: absolute;
  width: 100%;
  text-align: center;
}

.loading-text.initial {
  transform: translateY(0);
}

.loading-text.complete {
  transform: translateY(100%);
}

.loading-text .char {
  display: inline-block;
}

/* //프리로더  */
