@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --header-height: 2rem;

  /* colors */
  --first-color: rgb(129 129 129);
  --second-color: rgb(51 51 51);
  --title-color: rgb(0 0 0);
  --text-color: rgb(255, 255, 255);
  --text-color-light: rgb(255 0 0);
  --body-color: rgb(23 23 23);
  --container-color: rgb(255, 255, 255);

  /* font and typography */
  /* 1rem = 16px, 0.5rem = 8px */
  --body-font: 'Fahkwang';
  --title-font: 'Pretendard-Regular';
  --subtitle-font: "Helvetica Neue", Helvetica, sans-serif;
  --biggest-font-size: 4.5rem;
  --h1-font-size: 14rem;
  --h2-font-size: 7rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 0.9rem;
  --smaller-font-size: 0.5rem;

  /* font weight */
  --font-medium: lighter;
  --font-semi-bold: 600;
  --font-bold: bold;

  /* z-index */
  --z-index: 10;
  --z-fixed: 100;
}

/* 기본 리셋, 공통 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

/* 프리로더 */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.percentage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--body-font);
  font-weight: var(--font-bold);
  font-size: 30rem;
  line-height: 1;
  opacity: 0.1;
  white-space: nowrap;
}

.text-container {
  height: 3em;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  width: 200px;
}

.loading-text {
  font-weight: var(--font-bold);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: -0.01rem;
  position: absolute;
  width: 100%;
  text-align: center;
}

.loading-text.initial {
  transform: translateY(0);
}

.loading-text.complete {
  transform: translateY(100%);
}

.loading-text .char {
  display: inline-block;
}

/* //프리로더  */

/* 마그넷 */
#cursor {
  width: 100%;
  background-color: var(--body-color);
}

#nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 2vw 10vw 1vw 10vw;
  font-size: var(--h4-font-size);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

#nav .logo {
  width: 20px;
  height: 20px;
}

#nav .magnet-target {
  width: 100px;
}

#nav #right {
  display: flex;
  align-items: center;
  gap: 40px;

}

#nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1vw;
  letter-spacing: -1px;
}

#homemain1,
#homemain2 {
  width: 100%;
  padding: 5vw 10vw;
}

.headings {
  display: flex;
  gap: 40px;
  -webkit-text-stroke: 2px #fff;
  line-height: 1;
  letter-spacing: -3px;
}

/* 스타일을 #homemain1과 #homemain2에 맞게 다르게 설정 */
#homemain1 .headings h1 {
  font-size: var(--h2-font-size);
}

#homemain2 .headings h1 {
  font-size: var(--biggest-font-size);

}

/* 호버 효과도 다르게 설정 */
#homemain1 .headings h1:hover,
#homemain2 .headings h1:hover {
  color: transparent;
}

#homelast {
  position: relative;
  width: 100%;
  padding: 5vw 1vw;
  margin-left: 45vw;
}

#homelast p {
  width: 40%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  letter-spacing: -0.15rem;
}

#homelast p span {
  font-weight: var(--font-bold);
  line-height: 1.8;
}

#homelast p::selection,
#textlast p::selection {
  /* // 드래그하여 선택했을때 */
  color: var(--text-color);
  background-color: var(--body-color);
}

#textlast {
  position: relative;
  width: 100%;
  height: 60vh;
  z-index: 1;
}

#textlast p {
  position: relative;
  width: 38%;
  left: 30%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  letter-spacing: -0.15rem;
}

#textlast p span {
  font-weight: var(--font-bold);
  line-height: 1.8;
}

/* 스티커 */

#stickerboard {
  position: relative;
}

.sticker {
  position: absolute;
  width: 180px;
}

.sticker1 {
  right: 10%;
  bottom: 20%;
}

.sticker2 {
  left: 17%;
  top: 30%;
}

.sticker3 {
  left: 15%;
  bottom: 2%;
}

/* //스티커 */


/* 스플라인 */
.keyboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: auto;
  aspect-ratio: 9 / 14;
  transform: translate(20%, 35%);
}

/* //스플라인 */

/* 말풍선 */

.message {
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  font-family: var(--subtitle-font);
  font-size: 20px;
  /* max-width: 450px;*/
  background: #0B93F6;
  position: absolute;
  margin-top: 3%;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #0B93F6;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: var(--body-color);
  border-bottom-left-radius: 10px;
}

/* //말풍선 */


/* //마그넷 */

/* 프로젝트 */
#projects {
  position: relative;
  z-index: 2;
  background-color: var(--body-color);
}

/* 퍼블리싱 */
.phWrap {}

.nana {

  margin-top: 12.5em;
}

.img-size-1 {
  margin-left: 10%;
  width: 33.3333%;
  height: 75vh;
}

.img-size-2 {
  width: 40%;
  height: 100vh;
  margin-left: 50%;
}

.img-position-r {
  margin-left: auto;
  margin-right: 10%;
}

.img-size-full {
  width: 100%;
  height: 115vh;
}

.img-position-l {
  width: 50%;
  height: 75vh;
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
  position: relative;
  /*   display: flex;
  width: 100%; */
}

.desc-container {
  position: absolute;
  width: 42%;
  top: 20%;
  left: 5%;
}

.desc-container2 {
  position: absolute;
  width: 28%;
  top: 22%;
  right: 5%;
}

.desc-container3 {
  position: absolute;
  width: 42%;
  top: 20%;
  right: 3%;
}

.desc-container4 {
  position: absolute;
  width: 26%;
  top: 15%;
  left: 20%;
}

.desc-container5 {
  position: absolute;
  top: 70%;
  right: 30%;
}

.desc-container6 {
  position: absolute;
  bottom: 10%;
  right: 40%;
}

/* 스크롤 */

.desc {
  font-size: 20px;
  color: var(--text-color);
  line-height: 1.4;
  margin-bottom: 2vw;
  margin-top: 1vw;
  z-index: 20;
  position: relative;
  width: 100%;
}

/* 공통 버튼 */
.desc.gosite,
.desc.gosite2,
.desc.gosite3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 1rem;
}

.desc.gosite a,
.desc.gosite2 a,
.desc.gosite3 a {
  display: inline-block;
  padding: 12px 20px;
  color: var(--text-color);
  background-color: var(--body-color);
  border: 1px solid var(--text-color);
  font-weight: var(--font-bold);
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1;
}

.desc.gosite a:hover,
.desc.gosite2 a:hover,
.desc.gosite3 a:hover {
  color: var(--body-color);
  background-color: var(--text-color);
  border: 1px solid var(--body-color);
}

.desc.gosite2 {
  right: 1vw;
}

.desc.gosite3 {
  right: 2vw;
}

/* 공통 버튼2 */

/* //공통 버튼2 */


/* 프로젝트 툴 */
.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  right: 20px;
}

.tools span {
  padding: 8px 16px;
  color: var(--second-color);
  font-weight: var(--font-bold);
  text-align: center;
}

/* //퍼블리싱 */

/* 시계 */
.time {
  position: relative;
  left: 13vw;
}

/* //시계 */

/* 줌 */

.zoom {
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.zoom-reveal {
  min-width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1614247262098-76459e80e152?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1539&q=80);
  transform: scale(0.75);
}

.scroll {
  display: flex;
  color: var(--text-color);
  margin-left: 2vw;
}

/* //줌 */

/* 디자인 */
.flex,
.goal__col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.goal__col {
  flex-direction: column;
}

.goal {
  position: relative;
  width: calc(100% - 80px);
  min-height: 100vh;
  gap: 80px;
}

.list__item {
  position: relative;
  width: 100vw;
  height: calc(100vh - 40px);
  align-items: flex-end;
  padding-bottom: 40px;
  overflow: hidden;
}

.list__item__title {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  font-family: var(--body-font);
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  line-height: 1;
  text-align: center;
  transform: translate(-50%, -50%);
}

.list__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  aspect-ratio: 8/13;
  object-fit: cover;
  transform: translate(-50%, -50%);
  will-change: transform;
  backface-visibility: hidden;
}

.list__item__infos {
  width: 100%;
}

.list__item__infos p {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--normal-font-size);
  text-align: center;
  width: 100%;
}

.list__item__type,
.list__item__project {
  position: absolute;
  top: 50%;
  font-size: 1vw;
  writing-mode: vertical-lr;
  text-orientation: upright;
  transform: translateY(-50%);
  color: #818181;
}

.list__item__type {
  left: 36px;
}

.list__item__project {
  right: 36px;
}

.rights{color: var(--first-color);
  font-size: var(--small-font-size);
  margin-bottom: 1vw;}

/* //디자인 */

/* 🧷푸터 */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #333;
  color: var(--text-color);
  font-size: 16px;
}

.footer p {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.footer .github,
.footer .email {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: color 0.3s;
}

.footer .github i,
.footer .email i {
  margin-right: 10px;
}

.footer .github:hover,
.footer .email:hover {
  color: var(--first-color);
  /* 색상 호버 효과 */
}

.footer .email {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: color 0.3s;
  animation: sparkle 1.5s infinite;
}

@keyframes sparkle {

  0%,
  100% {
    color: var(--text-color);
    text-shadow: 0 0 0 1px var(--text-color);
  }

  50% {
    color: var(--text-color);
    text-shadow: 0 0 1px var(--text-color), 1px 0 0 var(--text-color);
  }
}


/* 이메일 */
.email-popup {
  display: none;
  /* 기본적으로 팝업은 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.email-popup .form-container {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
}

.email-popup .form-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.email-popup input,
.email-popup button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: var(--text-color);
  font-size: 16px;
}

.email-popup button {
  background-color: #1717170d;
  cursor: pointer;
  font-weight: bold;
}

.email-popup button:hover {
  background-color: #1717172e;

}

.email-popup .close-popup {
  background-color: #1717170d;
  font-weight: bold;
}

.email-popup .close-popup:hover {
  background-color: #1717172e;
}

/* //이메일 */

/* //🧷푸터 */


/* 반응형 */


/* 태블릿 이하 */
@media (max-width: 1023px) {
  .percentage {
    font-size: var(--h1-font-size);
    /* 또는 적절한 크기로 조정 */
  }

  html,
  body {
    overflow-y: auto;
    /* 세로 스크롤 활성화 */
    -webkit-overflow-scrolling: touch;
    /* 부드러운 스크롤을 위한 설정 */
  }

  /* nav */
  #nav {
    padding: 3vw 5vw;
    font-size: var(--h4-font-size);
  }

  #nav .magnet-target {
    width: 100px;
  }

  #nav #right {
    gap: 10px;
  }

  #nav a {
    font-size: var(--h4-font-size);
  }

  /* about */


  #homemain1 {}

  #homemain1 .headings h1 {
    font-size: var(--biggest-font-size);
  }

  #homelast {
    padding: 10vw;
    line-height: 2;
  }


  #homelast p {
    width: 45%;
    font-size: 1.2rem;
    font-weight: var(--font-medium);
    letter-spacing: -0.05rem;
  }

  #homelast p span {
    font-weight: var(--font-semi-bold);
    line-height: 1.5;
  }

  .headings {
    gap: 10px;
    -webkit-text-stroke: 1px var(--text-color);
    letter-spacing: 1px;
  }

  .keyboard {
    top: 10%;
    left: 2%;
    width: 55%;
    aspect-ratio: 9 / 14;
    transform: translate(2%, 25%);
  }

  /* 말풍선 */
  .mine.messages {
    position: relative;
  }

  .message {
    margin-top: 10%;
  }




  /* 퍼블리싱 */

  .desc-container2,
  .desc-container4 {
    width: 46%;
  }

  .desc.gosite,
  .desc.gosite2,
  .desc.gosite3 {
    gap: 2.2rem;
    right: 1vw;
  }


  .gosite a:nth-child(3) {
    /* pc */
    display: none;
  }

  .tools {
    display: none;
  }

  /* //퍼블리싱 */

  /* 시계 */
  .time {
    display: none;
  }

  /* 디자인 */
  .list .list__item:nth-child(6) {
    display: none;
  }

  .list__item img {
    width: 30%;
  }

  .list__item__title {
    font-size: var(--h2-font-size);
  }


  
  .list__item__infos p {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    top: 83%;
    width: 70%;

  }

  .list__item__type,
  .list__item__project {
    font-size: 1.5vw;
  }

}

/* 모바일 */
@media (max-width: 768px) {

  .percentage {
    font-size: 10rem;
    /* 또는 적절한 크기로 조정 */
  }

  html,
  body {
    overflow-y: auto;
    /* 세로 스크롤 활성화 */
    -webkit-overflow-scrolling: touch;
    /* 부드러운 스크롤을 위한 설정 */
  }

  /* nav */
  #nav {
    padding: 3vw 5vw;
    font-size: var(--h4-font-size);
  }

  #nav .magnet-target {
    width: 100px;
  }

  #nav #right {
    gap: 10px;
  }

  #nav a {
    font-size: var(--h4-font-size);
  }

  /* about */


  #homemain1 {
    display: none;
  }

  #homemain1 .headings h1 {
    font-size: 3rem;
  }

  #homelast {
    right: 47%;
    padding: 10vw;
    line-height: 2;
  }


  #homelast p {
    width: 100%;
    font-size: 1.3rem;
    font-weight: var(--font-medium);
    letter-spacing: -0.05rem;
  }

  #homelast p span {
    font-weight: var(--font-semi-bold);
    line-height: 1.5;
  }

  .headings {
    gap: 10px;
    -webkit-text-stroke: 1px var(--text-color);
    letter-spacing: 1px;
  }

  .keyboard {
    display: none;
    /*     top: -20%;
    left: 30%;
    width: 70%;
    aspect-ratio: 9 / 14;
    transform: translate(2%, 25%); */
  }

  /* 말풍선 */
  .mine.messages {
    display: none;
  }

  /* 퍼블리싱 */

  section.pjWrap {
    margin-top: 35%;
  }

  /* 스크롤 */
  #projects {
    position: relative;
    z-index: 2;
    background-color: transparent;
  }

  .nana {
    position: relative;
    bottom: 30vh;
  }

  /* 이미지 */
  .img-size-2,
  .img-position-l {
    width: 70%;
    height: 60vh;
    margin-left: 10%;

  }

  .desc-container,
  .desc-container2,
  .desc-container3,
  .desc-container4 {
    position: absolute;
    width: 90%;
    top: 35;
    left: 11%;
  }

  .desc {
    font-size: var(--h4-font-size);
    width: 80%;
    line-height: 1.6;

  }

  .desc.gosite,
  .desc.gosite2,
  .desc.gosite3 {
    z-index: 0;
  }

  .desc.gosite a,
  .desc.gosite2 a,
  .desc.gosite3 a {
    padding: 10px 15px;
    font-size: var(--small-font-size);
  }

  .gosite a:nth-child(2),
  /* tablet */
  .gosite a:nth-child(3) {
    /* pc */
    display: none;
  }

  .tools {
    display: none;
  }

  /* //퍼블리싱 */

  /* 줌 */

  #homemain2 .headings h1 {
    font-size: 2.8rem;
    line-height: 1.5;
    left: 0;
    text-align: justify;
  }

  /* 시계 */
  .time {
    display: none;
  }

  /* 디자인 */

  .list .list__item:nth-child(6) {
    display: none;
  }

  .list .list__item:nth-child(6) .list__item__title {}

  .list__item img {
    width: 50%;
    z-index: 1;
  }

  .list__item__title {
    font-size: 4rem;
    font-weight: var(--font-bold);
    line-height: 1;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .desc-container5 {
    display: none;
  }

  .list__item__infos p {

    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    position: absolute;
    top: 83%;
    left: 50%;
    width: 80%;

  }

  .list__item__type,
  .list__item__project {
    display: none;
  }

  #textlast {
    right: 20vw;
  }

  #textlast p {
    width: 76%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    letter-spacing: -0.05rem;
  }

  /* 스티커 */

  #stickerboard {
    display: none;
  }


}

/* 작은 모바일 */
@media (max-width: 479px) {

  .percentage {
    font-size: 8rem;
    /* 또는 적절한 크기로 조정 */
  }

  /* nav */
  #nav {
    padding: 2vw 5vw;
    font-size: var(--small-font-size);
  }

  #nav #right {
    gap: 10px;
  }

  #nav a {
    font-size: var(--small-font-size);
  }

  /* about */

  #homemain1 .headings h1 {
    font-size: var(--h3-font-size)
  }

  #homelast {
    right: 47%;
    padding: 10vw;
    line-height: 2;
  }


  #homelast p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: var(--font-medium);
    letter-spacing: -0.05rem;
  }

  .headings {
    display: flex;
    gap: 10px;
    -webkit-text-stroke: 1px var(--text-color);
    letter-spacing: -1px;
  }

  .keyboard {
    display: none;
    /*     top: -20%;
    left: 30%;
    width: 70%;
    aspect-ratio: 9 / 14;
    transform: translate(2%, 25%); */
  }

  /* 말풍선 */
  .mine.messages {
    display: none;
  }

  /* 퍼블리싱 */

  section.pjWrap {
    margin-top: 35%;
  }

  /* 스크롤 */
  #projects {
    position: relative;
    z-index: 2;
    background-color: transparent;
  }

  .nana {
    position: relative;
    bottom: 30vh;
  }

  /* 이미지 */
  .img-size-2,
  .img-position-l {
    width: 70%;
    height: 60vh;
    margin-left: 10%;

  }

  .desc-container,
  .desc-container2,
  .desc-container3,
  .desc-container4 {
    position: absolute;
    width: 90%;
    top: 35%;
    left: 11%;
    z-index: 0;
  }

  .desc {
    font-size: var(--h4-font-size);
    width: 80%;
    line-height: 1.6;

  }

  .desc.gosite,
  .desc.gosite2,
  .desc.gosite3 {
    z-index: 0;
  }


  .gosite a:nth-child(2),
  /* tablet */
  .gosite a:nth-child(3) {
    /* pc */
    display: none;
  }

  .tools {
    display: none;
  }

  /* //퍼블리싱 */

  /* 줌 */

  #homemain2 .headings h1 {
    font-size: 2.8rem;
    line-height: 1.5;
    left: 0;
    text-align: justify;
  }

  /* 시계 */
  .time {
    display: none;
  }

  /* 디자인 */

  .list .list__item:nth-child(6) {
    display: none;
  }

  .list__item img {

  }

  .list__item__title {
    font-size: 4rem;
    font-weight: var(--font-bold);
    line-height: 1;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .desc-container5 {
    display: none;
  }

  .list__item__infos p {
    /*  font-size: var(--h4-font-size);
    width: 75%; */
    font-size: var(--h4-font-size);
    position: absolute;
    top: 85%;
    left: 50%;
    width: 87%;
  }

  .list__item__type,
  .list__item__project {
    display: none;
  }

  #textlast {
    right: 25vw;
  }

  #textlast p {
    width: 90%;
    font-size: var(--h4-font-size);
    font-weight: var(--font-medium);
    letter-spacing: -0.05rem;
  }

  /* 스티커 */

  #stickerboard {
    display: none;
  }

}
